/* Variables */
:root {
  /* Colors */
  --primary-color: #2a2c39;
  --secondary-color: #a2ff86;
  --dark-color: #252734;
  --light-color: #858792;

  /* Width */
  --sidebar-width: 80px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-color);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 50px 0;
}

.section-header {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-header .title {
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
}

.section-header .line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--light-color);
}

.btn {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.1s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.btn-light {
  color: var(--secondary-color);
  background-color: transparent;
}

.btn-solid {
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

.highlight {
  color: #fff;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--dark-color);
  overflow: hidden;
}

.logo {
  width: 100%;
  height: var(--sidebar-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 70%;
}

.navmenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navmenu li {
  position: relative;
  padding: 28px;
  border-bottom: 1px solid var(--light-color);
}

.navmenu li:last-child {
  border-bottom: none;
}

.navmenu li:hover {
  cursor: pointer;
}

.navmenu li a {
  color: #fff;
  width: 100$;
}

.navmenu li i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-out;
}

.navmenu li:hover i {
  transform: translate(120px, -50%);
}

.navmenu li span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  padding: 20px;
  color: #fff;
  transform: translate(-120px, -50%);
  transition: transform 0.2s ease-out, color 0.2s ease-out 0.3s;
}
.navmenu li:hover span {
  color: var(--secondary-color);
  transform: translate(-50%, -50%);
}

.resume {
  position: absolute;
  left: 50%;
  bottom: 10px;
  padding: 10px;
  font-size: 28px;
  color: #fff;
  transform: translateX(-50%);
  transition: transform 0.2s ease-in;
}

.resume:hover {
  color: var(--secondary-color);
  transform: translateX(-50%) scale(1.2);
}

/* Content */
.content {
  margin-left: var(--sidebar-width);
}

/* Hero */

.hero {
  background-color: var(--dark-color);
  padding: 0;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .hero-info,
.hero .hero-img-container {
  width: 50%;
  flex-grow: 1;
}

.hero .hero-info .greetings {
  color: var(--secondary-color);
  font-size: 14px;
}

.hero .hero-info .name {
  color: #fff;
  font-size: 50px;
  margin-bottom: 5px;
}

.hero .hero-info .description {
  color: var(--light-color);
  font-size: 16px;
  margin-bottom: 24px;
}

.hero .hero-info .btn-contact {
  margin-right: 15px;
}

.hero .hero-img-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero .hero-img-container.img {
  width: 80%;
}

/* About */
.about .description {
  max-width: 768px;
  margin: 0 auto 40px;
  padding-left: 40px;
  border-left: 1px solid var(--light-color);
  color: var(--light-color);
  line-height: 1.6;
  text-align: justify;
}

.tech-stack {
  background-color: var(--dark-color);
  border-radius: 5px;
}

.tech-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  row-gap: 2rem;
  padding: 40px 0;
  max-width: 768px;
  margin: 0 auto;
}

.expertise-level {
  color: var(--light-color);
  border-right: 1px solid var(--light-color);
}

.tech-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
}

.tech-logo {
  width: 20px;
  margin-right: 10px;
}

.tech-name {
  color: #fff;
}

/* Projects */
.projects .project-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  gap: 3rem;
}

.projects .project {
  background-color: var(--dark-color);
  padding: 40px;
  display: grid;
  align-items: center;
  gap: 2rem;
}

.projects .project:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.projects .project-thumbnail {
  position: relative;
}

.projects .project-thumbnail .mockup {
  width: 100%;
  position: relative;
  z-index: 2;
}

.projects .project-thumbnail .img {
  position: absolute;
  top: 3%;
  left: 12.6316%;
  width: 74.9%;
  aspect-ratio: 1137/720;
}

.projects .project-info {
  color: var(--light-color);
}

.projects .project-title {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.projects .project:hover .project-title {
  text-decoration: underline;
}

.projects .project-type {
  font-size: 10px;
  margin-bottom: 12px;
}

.projects .project-description {
  font-size: 12px;
  margin-bottom: 12px;
}

.projects .link-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.projects .link-container .link {
  color: #fff;
  font-size: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.projects .link-container .link span {
  font-size: 12px;
}

.projects .link-container .link:hover span {
  text-decoration: underline;
}

/* Contact */
.contact {
  max-height: 600px;
  max-width: 900px;
  margin: auto auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: var(--dark-color);
  box-shadow: 2px 3px 5px #999;
  opacity: 0.98;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact #cancel {
  position: absolute;
  top: 50px;
  right: 40px;
  color: #fff;
  padding: 30px;
}

.contact #cancel:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.contact .contact-info {
  padding: 60px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.contact .contact-info .contact-details {
  display: grid;
  gap: 1.5rem;
}

.contact .contact-info .contact-details a {
  color: var(--dark-color);
}

.contact .contact-info .contact-details a:hover span {
  text-decoration: underline;
}

.contact .contact-info .contact-details a i {
  margin-right: 1rem;
}

.contact .contact-message {
  padding: 60px;
}

.contact .contact-message .heading {
  color: #fff;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.contact .contact-message .contact-form {
  width: 100%;
}

.contact .contact-message .contact-form label {
  color: var(--light-color);
}

.contact .contact-message .contact-form #name,
.contact .contact-message .contact-form #email,
.contact .contact-message .contact-form #message {
  width: 100%;
  height: 40px;
  outline: none;
  background-color: transparent;
  color: var(--light-color);
  border: none;
  border-bottom: 1px solid var(--light-color);
  margin-bottom: 40px;
}

.contact .contact-message .contact-form #message {
  height: 80px;
  margin-top: 15px;
}
